**Objetivo**: Analisar os microdados do ENEM com base em classes e distribuição de frequência.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
# Carregamento do df completo - colunas especificas
cols = ['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_REDACAO', 'TP_ESCOLA']
df = pd.read_csv('../data/MICRODADOS_ENEM_2023.csv', usecols=cols, nrows=10000, encoding='latin1', sep=';').dropna()

In [19]:
# Carregamento de amostra e remoção de valores ausentes
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7257 entries, 2 to 9999
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TP_ESCOLA        7257 non-null   int64
 1   NU_NOTA_CN       7257 non-null   float64
 2   NU_NOTA_CH       7257 non-null   float64
 3   NU_NOTA_LC       7257 non-null   float64
 4   NU_NOTA_MT       7257 non-null   float64
 5   NU_NOTA_REDACAO  7257 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 396.9 KB

In [20]:
# Criação das classes
bins = [0,100,200,300,400,500,600,700,800,900,1001] # limites das classes 
labels = ['0–99', '100–199', '200–299', '300–399', '400–499','500–599', '600–699', '700–799', '800–899', '900–1000']

In [25]:
df['Faixa'] = pd.cut(df['NU_NOTA_CN'], bins=bins, labels=labels, right=False, include_lowest=True)

In [26]:
df['Faixa'].unique()

['500–599', '400–499', '600–699', '700–799', '300–399', '0–99', '800–899']
Categories (10, object): ['0–99' < '100–199' < '200–299' < '300–399' ... '600–699' < '700–799' < '800–899' < '900–1000']

In [27]:
# Cálculo de frequência
freq = df['Faixa'].value_counts(sort=False)
freq_acumulada = freq.cumsum()

In [28]:
distribuicao_de_frequencia = pd.DataFrame({
    'Faixa': freq.index,
    'Frequência': freq.values,
    'Frequência Acumulada': freq_acumulada.values
})
distribuicao_de_frequencia

      Faixa  Frequência  Frequência Acumulada
0      0–99          25                    25
1   100–199           0                    25
2   200–299           0                    25
3   300–399         702                   727
4   400–499        3286                  4013
5   500–599        2687                  6700
6   600–699         491                  7191
7   700–799          64                  7255
8   800–899           2                  7257
9  900–1000           0                  7257

In [ ]:
# Gráfico de ogiva