In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pprint import pprint

In [ ]:
microdata.to_pickle('../data/enem_2023.pkl')

In [ ]:
dict_microdata.to_pickle('../data/dictionary/dict_microdata.pkl')

In [ ]:
items_data.to_pickle('../data/items_data.pkl')

In [12]:
microdata_filtered.to_pickle('../data/microdata_filtered.pkl')

In [ ]:
medias_gerais.to_pickle('../data/medias_gerais.pkl')

In [15]:
microdata = pd.read_pickle('../data/enem_2023.pkl')
items_data = pd.read_pickle('../data/items_data.pkl')
dict_microdata = pd.read_pickle('../data/dictionary/dict_microdata.pkl')
microdata_filtered = pd.read_pickle('../data/microdata_filtered.pkl')
medias_gerais = pd.read_pickle('../data/medias_gerais.pkl')

In [9]:
microdata_filtered.columns

Index(['Ano do ENEM', 'Estado civil', 'Raca/cor', 'Sexo', 'Nacionalidade',
       'Situação do Ensino Medio', 'Nota C Naturais', 'Nota C Humanas',
       'Nota Linguagens', 'Nota mat', 'Situacao redacao', 'Nota redacao',
       'NU_INSCRICAO'],
      dtype='object')

In [18]:
# Verificação de valores duplicados na coluna Ano do ENEM
microdata_filtered['Ano do ENEM'].duplicated().sum()

np.int64(999)

In [19]:
microdata_filtered['Ano do ENEM'].unique()

array([2023])

A coluna "Ano do ENEM" possui o mesmo valor: 2023. Portanto é ineficiente mantê-la no DataFrame

In [10]:
microdata_filtered = microdata_filtered.drop(columns=['Ano do ENEM'])

In [16]:
microdata_filtered.columns

Index(['Estado civil', 'Raca/cor', 'Sexo', 'Nacionalidade',
       'Situação do Ensino Medio', 'Nota C Naturais', 'Nota C Humanas',
       'Nota Linguagens', 'Nota mat', 'Situacao redacao', 'Nota redacao',
       'NU_INSCRICAO'],
      dtype='object')

**OUTLIERS**

Abaixo está a função para identificar os outliers nas notas de cada conhecimento

In [3]:
def outliers(coluna):
    q1 = microdata_filtered[coluna].quantile(0.25)
    q3 = microdata_filtered[coluna].quantile(0.75)

    iqr = q3 - q1

    lim_inferior = q1 - 1.5 * iqr
    lim_superior = q3 + 1.5 * iqr

    print(f"Coluna: {coluna}")
    print(f"Limite inferior: {lim_inferior:.2f}")
    print(f"Limite superior: {lim_superior:.2f}")
    print(f"Poucos alunos tiraram nota acima de {lim_superior:.2f} e abaixo de {lim_inferior:.2f}")

In [4]:
outliers('Nota C Naturais')

Coluna: Nota C Naturais
Limite inferior: 388.81
Limite superior: 604.31
Poucos alunos tiraram nota acima de 604.31 e abaixo de 388.81

In [5]:
outliers('Nota C Humanas')

Coluna: Nota C Humanas
Limite inferior: 445.76
Limite superior: 646.06
Poucos alunos tiraram nota acima de 646.06 e abaixo de 445.76

In [6]:
outliers('Nota Linguagens')

Coluna: Nota Linguagens
Limite inferior: 435.30
Limite superior: 631.70
Poucos alunos tiraram nota acima de 631.70 e abaixo de 435.30

In [7]:
outliers('Nota mat')

Coluna: Nota mat
Limite inferior: 348.81
Limite superior: 689.51
Poucos alunos tiraram nota acima de 689.51 e abaixo de 348.81

In [8]:
outliers('Nota redacao')

Coluna: Nota redacao
Limite inferior: 370.00
Limite superior: 930.00
Poucos alunos tiraram nota acima de 930.00 e abaixo de 370.00

In [13]:
# Média das 4 áreas por candidato (nota geral):
medias_gerais = pd.DataFrame({
    'NU_INSCRICAO': microdata_filtered['NU_INSCRICAO'],
    'media geral': microdata_filtered[[
    'Nota C Naturais', 'Nota C Humanas', 'Nota Linguagens', 'Nota mat', 'Nota redacao'
]].mean(axis=1)})

In [14]:
medias_gerais.head()

   NU_INSCRICAO  media geral
0  210059085136       545.82
1  210059527735       545.82
2  210061103945       507.94
3  210060214087       564.28
4  210059980948       425.38

In [17]:
# Média das notas por sexo
medias_gerais['sexo'] = microdata_filtered['Sexo'].copy()

In [18]:
medias_gerais.groupby('sexo')['media geral'].mean()

sexo
F    543.801804
M    553.809884
Name: media geral, dtype: float64

In [19]:
# Média das notas por sexo e área de conhecimento
microdata_filtered.groupby('Sexo')['Nota mat'].mean()

Sexo
F    510.735015
M    541.619653
Name: Nota mat, dtype: float64

In [20]:
microdata_filtered.groupby('Sexo')['Nota Linguagens'].mean()

Sexo
F    527.926606
M    532.552023
Name: Nota Linguagens, dtype: float64

In [21]:
microdata_filtered.groupby('Sexo')['Nota redacao'].mean()

Sexo
F    653.180428
M    634.161850
Name: Nota redacao, dtype: float64

In [22]:
# Área com maior dificuldade
media_por_area = pd.Series({
    'C Naturais': microdata_filtered['Nota C Naturais'].mean(axis=0),
    'C Humanas': microdata_filtered['Nota C Humanas'].mean(axis=0),
    'Linguagens': microdata_filtered['Nota Linguagens'].mean(axis=0),
    'Matematica': microdata_filtered['Nota mat'].mean(axis=0),
    'Redacao': microdata_filtered['Nota redacao'].mean(axis=0)
})

In [24]:
media_por_area = media_por_area.sort_values()
media_por_area

C Naturais    497.1654
Matematica    521.4211
Linguagens    529.5270
C Humanas     541.6095
Redacao       646.6000
dtype: float64

A área com maior nível de dificuldade foi Ciências Naturais.

In [ ]:
# Desvio padrão das notas por tipo de escola

In [ ]:
# Distribuição da idade dos candidatos