In [58]:
import pandas as pd
import numpy as np
from pprint import pprint

In [11]:
microdata = pd.read_csv('../data/MICRODADOS_ENEM_2023.csv', sep=';', encoding='latin1', nrows=1000)

In [13]:
microdata.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210059085136,2023,14,M,2,1,1,1,17,1,...,C,C,B,B,A,B,B,A,A,B
1,210059527735,2023,12,M,2,1,0,1,16,1,...,B,A,B,B,A,A,C,A,D,B
2,210061103945,2023,6,F,1,1,1,1,0,1,...,B,A,A,B,A,A,A,A,A,B
3,210060214087,2023,2,F,1,3,1,2,0,2,...,A,A,A,B,A,A,D,A,A,B
4,210059980948,2023,3,F,1,3,1,2,0,2,...,A,A,A,B,A,A,B,A,A,A

In [15]:
items_data = pd.read_csv('../data/ITENS_PROVA_2023.csv', sep=';', encoding='latin1', nrows=1000)

In [17]:
items_data.head()

,CO_POSICAO,SG_AREA,CO_ITEM,TX_GABARITO,CO_HABILIDADE,IN_ITEM_ABAN,TX_MOTIVO_ABAN,NU_PARAM_A,NU_PARAM_B,NU_PARAM_C,TX_COR,CO_PROVA,TP_LINGUA,IN_ITEM_ADAPTADO
0,21,LC,141283,B,14,0,NaN,2.20125,0.82582,0.21190,AMARELA,1286,NaN,0
1,20,LC,118144,C,23,0,NaN,2.43295,0.90091,0.13239,AMARELA,1286,NaN,0
2,11,LC,140926,D,26,0,NaN,1.95105,-0.13372,0.19557,AMARELA,1282,NaN,0
3,12,LC,36864,A,12,0,NaN,1.14733,0.38901,0.23027,ROSA,1243,NaN,0
4,5,LC,140614,C,8,0,NaN,2.25894,1.00728,0.17726,AMARELA,1286,0.0,0

In [37]:
microdata.to_pickle('../data/enem_2023.pkl') # Arquivo salvo em pickle para maior eficiencia de carregamento

In [14]:
microdata = pd.read_pickle('../data/enem_2023.pkl')

In [15]:
microdata.head(5)

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210059085136,2023,14,M,2,1,1,1,17,1,...,C,C,B,B,A,B,B,A,A,B
1,210059527735,2023,12,M,2,1,0,1,16,1,...,B,A,B,B,A,A,C,A,D,B
2,210061103945,2023,6,F,1,1,1,1,0,1,...,B,A,A,B,A,A,A,A,A,B
3,210060214087,2023,2,F,1,3,1,2,0,2,...,A,A,A,B,A,A,D,A,A,B
4,210059980948,2023,3,F,1,3,1,2,0,2,...,A,A,A,B,A,A,B,A,A,A

Os dados do arquivo de dicionário estão organizados em formato "expandido verticalmente". Isso dificulta o entendimento em análise de dados, portanto é necessário organizar as informações em dicionários.

In [16]:
# Dicionarios normalmente tem mais de uma aba, por isso deve-se ler o arquivo da seguinte forma:
dict_xls = pd.ExcelFile('../data/dictionary/Dicionário_Microdados_Enem_2023.xlsx')

In [17]:
# Nome das abas
dict_xls.sheet_names

['MICRODADOS_ENEM_2023', 'ITENS_PROVA_2023']

In [18]:
dict_microdata = pd.read_excel(dict_xls, sheet_name='MICRODADOS_ENEM_2023')
dict_microdata.columns # Percebe-se que o cabeçalho não apresenta os nomes das colunas

Index(['DICIONÁRIO DE VARIÁVEIS - ENEM 2023', 'Unnamed: 1', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5'],
      dtype='object')

In [33]:
# Verificação dos nomes das colunas
dict_microdata.head(10)

,DICIONÁRIO DE VARIÁVEIS - ENEM 2023,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NOME DA VARIÁVEL,Descrição,Variáveis Categóricas,NaN,Tamanho,Tipo
2,NaN,NaN,Categoria,Descrição,NaN,NaN
3,DADOS DO PARTICIPANTE,NaN,NaN,NaN,NaN,NaN
4,NU_INSCRICAO,Número de inscrição1,NaN,NaN,12,Numérica
5,NU_ANO,Ano do Enem,NaN,NaN,4,Numérica
6,TP_FAIXA_ETARIA,Faixa etária2,1,Menor de 17 anos,2,Numérica
7,NaN,NaN,2,17 anos,NaN,NaN
8,NaN,NaN,3,18 anos,NaN,NaN
9,NaN,NaN,4,19 anos,NaN,NaN

In [28]:
dict_microdata.columns

Index(['DICIONÁRIO DE VARIÁVEIS - ENEM 2023', 'Unnamed: 1', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5'],
      dtype='object')

In [39]:
# Renomeando as colunas do dict
dict_microdata = dict_microdata.rename(columns={
    'Unnamed: 1': 'Descrição',
    'Unnamed: 2': 'Variáveis Categóricas',
    'Unnamed: 3': 'Categoria',
    'Unnamed: 4':  'Tamanho',
    'Unnamed: 5': 'Tipo'
})

In [40]:
dict_microdata.head()

,DICIONÁRIO DE VARIÁVEIS - ENEM 2023,Descrição,Variáveis Categóricas,Categoria,Tamanho,Tipo
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NOME DA VARIÁVEL,Descrição,Variáveis Categóricas,NaN,Tamanho,Tipo
2,NaN,NaN,Categoria,Descrição,NaN,NaN
3,DADOS DO PARTICIPANTE,NaN,NaN,NaN,NaN,NaN
4,NU_INSCRICAO,Número de inscrição1,NaN,NaN,12,Numérica

In [61]:
dict_cleaned = dict_microdata[
            dict_microdata['Variáveis Categóricas'].notna() &
            dict_microdata['Categoria'].notna() 
           # dict_microdata['Descrição'].notna()
].copy()

In [45]:
dict_cleaned['Variáveis Categóricas'].unique()

array(['Categoria', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 'M', 'F', 0, 1221, 1222, 1223, 1224, 1225, 1226,
       1227, 1228, 1229, 1301, 1302, 1303, 1304, 1191, 1192, 1193, 1194,
       1195, 1196, 1197, 1198, 1199, 1271, 1272, 1273, 1274, 1201, 1202,
       1203, 1204, 1205, 1206, 1207, 1208, 1209, 1281, 1282, 1283, 1284,
       1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1291, 1292,
       1293, 1294, 'A', 'B', 'C', 'D', 'E', 'G', 'H', 'I', 'J', 'K', 'L',
       'N', 'O', 'P', 'Q'], dtype=object)

A princípio, a coluna "Variáveis Categóricas" teria "int" como tipo atribuído. Porém haviam variáveis com letras, então o tipo atribuído foi "str".

In [62]:
# Garantindo tipos de dados corretos (usa-se loc para evitar o warning sobre alteração direta no df)
dict_cleaned.loc[:,'Variáveis Categóricas'] = dict_cleaned['Variáveis Categóricas'].astype(str)
dict_cleaned.loc[:, 'Categoria'] = dict_cleaned['Categoria'].astype(str)
dict_cleaned.loc[:, 'Descrição'] = dict_cleaned['Descrição'].astype(str)

Os ":" no loc são usados para dizer explicitamente que queremos alterar todas as linhas da coluna.

In [63]:
# Função que converte em dicionário
dicts = {}

for var, group in dict_cleaned.groupby('Descrição'):
    data = dict(zip(group['Variáveis Categóricas'], group['Categoria']))
    dicts[var] = data
# Resolver erro ao salvar dicionário (valores aparecem incompletos ao printar)